h1 {
    font-family: 'Josefin Sans';
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 85px;
    font-weight: 200;
}

h2 {
    font-family: 'Josefin Sans';
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
}

.fa-chevron-left::before {
    font-size: 64px;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.fa-chevron-left:hover{
    color: blueviolet;
    -webkit-text-stroke: 2px blueviolet;
}

.fa-plus-circle::before{
    font-size: 64px;
    -webkit-text-stroke: 2px white;
    color:transparent;
}

.header{
    margin-left: -10px;
    margin-top: -16px;
    margin-right: -8px;
}


.nav .menu-bar {
    text-align: center;
}

.menu-bar li {
    list-style-type: none;
    display: inline-block;
    margin: -15px 130px;
    font-size: 25px;
    font-family: 'Lato';
    color: white;
    margin-left: -30px;
    margin-top: 50px;
}

.lightToggle {
    position: absolute;
    left: 52%;
    transform: translate(-48%,-65%);
    font-family: 'Raleway';
    font-weight: 300;
    width: 520px;
    color: white;
    padding: 40px;

}

#fixAlign {
    position: absolute;
    left: 52%;
    transform: translate(-118%,1%);
    font-family: 'Raleway';
    font-weight: 300;
    color: white;
}

h3 {
    font-family: 'Josefin Sans';
    margin: 0;
    padding: 7px 0px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    font-size: 25px;
    display: block;
    text-align: right;
    float: left;
    
}


html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: #007991;  /* fallback for old browsers */
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(#78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.25);
    
}


p {
    margin-top: -157px;
}

.content{
    margin: 50px auto 0px auto;
    text-align: center;
    width: 750px;
    position: relative;
    top: 25px;
    margin-left: 210px;
}


.theme {
    display: table;
    height: 49px;
    transform: translate(66.45%,24%);
    font-family: 'Josefin Sans';
    font-weight: bold;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    width: 472px;
    color: white;
    background:rgba(0, 0, 0, 0.2);
}

.fixer {
    width: 472px;
    height: 388px;
    background:rgba(0, 0, 0, 0.2);
        transform: translate(66.45%,-4.25%);

}

.button {
    color: white;
    background: transparent;
    border: 1.5px solid white;
    font-size: 17px;
    font-family: 'Josefin Sans';
    letter-spacing: 4px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    min-width: 80px;
    margin-left: 30px;
    display: inline-block;
    text-decoration: none;
    position: absolute;
}

.button:hover, .button:active {
  color:#fff;
  background:rgba(0, 0, 0, 0.2);
}


.button2 {
    color: white;
    background: transparent;
    border: 1.5px solid white;
    font-size: 17px;
    font-family: 'Josefin Sans';
    letter-spacing: 4px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    min-width: 80px;
    margin-left: 155px;
    display: inline-block;
    position: absolute;
    text-decoration: none;
}

.button2:hover, .button2:active {
  color:#fff;
  background:rgba(0, 0, 0, 0.2);
}



#wrapper {
    width: 420px;
    margin: 35px auto;
}

img {
    width: 100%;
}

.fix {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.slick-prev:before{
    color: white !important;
    -webkit-text-stroke: 1px !important;
}

.slick-next:before{
    color: white !important;
    -webkit-text-stroke: 1px !important;
}

.slick-dots li.slick-active button:before{
    color: white !important;
}

.slick-dots li button:before {
    color: white !important;
}

.slick-next {
    padding-left: 10px !important;
    padding-right: 10px !important;
    right: -15px !important;
    
}

.slick-prev {
    padding-left: 10px !important;
    padding-right: 10px !important;
    
}




.slick-dots ul {
    bottom: 0px;
}